[2018-10-13 22:55] tarcieri opened #1 "Logo"
We need a logo!

[2018-10-13 22:55] tarcieri commented on #1
<img width="815" alt="screen shot 2018-10-13 at 3 53 20 pm" src="https://user-images.githubusercontent.com/797/46910827-5f435d00-cf00-11e8-9bce-a045fca20b0b.png">

[2018-10-14 02:10] joshlf commented on #1
I feel exactly the same way. On both counts, unfortunately.

[2018-10-14 17:41] joshlf commented on #1
How about the Rust logo or Ferris on a padlock?

[2018-10-14 20:15] stusmall commented on #1
![ferrislock](https://user-images.githubusercontent.com/1697444/46921669-827f1280-cfbb-11e8-848c-77c3a9d5b349.png)
A quick dirty lock ferris as a lock.  I'm no artist

[2018-10-14 20:30] DrizztVD commented on #1
Thumbs up on that one.

[2018-10-14 21:12] joshlf commented on #1
I tried a white-on-black Rust logo with the words "Secure Code" under it (like the [Embedded WG logo](https://raw.githubusercontent.com/rust-embedded/wg/master/assets/logo/ewg-logo-blue-white-on-transparent-256x256.png)), but I was just doing it in Mac Preview, so I couldn't get it the way I wanted, and I couldn't find a good font. I was looking for something old-school terminal-ish.

[2018-10-14 21:30] tarcieri opened #2 "Official Chat"
Zulip. IRC. Discord. Slack. Gitter. etc. There are lots of options. Where do we want to chat?

[2018-10-14 21:38] joshlf commented on #2
Recapping discussions with people interested in this group, it seems that:
- Some people have strong feelings against Discord
- People are generally open to Zulip, although few feel strongly in favor

Speaking now from my own perspective, we want to make sure our communications are discoverable by others in the community, and is friendly to new users. IMO, this implies that we should place higher

[2018-10-14 21:40] tarcieri commented on #2
I've never used Zulip before but I'm willing to give it a go

[2018-10-14 21:43] tarcieri commented on #1
Here's the same thing sans ski mask:

![rust-secure-code2](https://user-images.githubusercontent.com/797/46922553-8ca31000-cfbf-11e8-9b90-31d9398f8c7d.png)

[2018-10-14 21:49] tarcieri opened #3 "Charter"
We have a semblance of a charter floating around in various meeting notes, e.g.

https://docs.google.com/document/d/1I0zvGPp245L3ZBtdvl4UXrLqiFGZ7pY-q9pjcVxkHCU/edit?usp=sharing

It'd be good to write it down and post it somewhere, e.g. in the README.md of this repo

[2018-10-14 21:52] tarcieri opened #4 "Merging RustSec + Secure Code WG"
I currently operate and am sole contributor to RustSec, a crates.io vulnerability tracking project:

https://rustsec.org
https://github.com/RustSec

During some of the calls we discussed merging RustSec with this group, as I think vulnerability tracking is important to my current understanding of the group's charter.

If you're participating in this WG and would also like to volunteer to be a part

[2018-10-14 22:04] tarcieri commented on #4
Regarding this, here's an issue about RustSec cataloguing standard library vulns:

https://github.com/RustSec/cargo-audit/issues/46

[2018-10-14 22:11] stusmall opened #5 "Code of conduct"
I see no reason to not just take rust-lang and copy it.

https://github.com/rust-lang/rust/blob/master/CODE_OF_CONDUCT.md

We can replace the contact field with a link back to the members of the group.  Similar to how the embedded working group has done.  https://github.com/rust-embedded/wg/blob/master/CODE_OF_CONDUCT.md

Any objections?

[2018-10-14 22:17] tarcieri commented on #5
Sounds good to me

[2018-10-14 23:06] joshlf commented on #5
Sounds good to me too.

[2018-10-14 23:50] alex commented on #5
+1 ship it

On Sun, Oct 14, 2018, 7:06 PM Joshua Liebow-Feeser <notifications@github.com>
wrote:

[2018-10-15 00:33] alex commented on #4
I'm happy to take on finding historical `std` vulnerabilities.

On Sun, Oct 14, 2018 at 6:04 PM Tony Arcieri <notifications@github.com>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2018-10-15 00:43] snf commented on #2
I used Zulip probably not long enough to find its limitations but I liked it

[2018-10-15 02:51] Tom-Phinney commented on #1
Perhaps it should be animated, so that the ski mask disappears to the immediately-above image with just the old-fashioned key when one hovers over or clicks on the masked Ferris.

FYI, I'll probably participate in this WG as a lurker; my primary interest is in the potential crypto subgroup.

[2018-10-15 06:02] Shnatsel commented on #1
How about a hermit Ferris? Quick sketch:

![hermit_ferris](https://user-images.githubusercontent.com/291257/46932562-f3c0d300-d058-11e8-8102-a5c589f83745.png)

[2018-10-15 07:38] joshlf commented on #1
Wow I actually really love that.

[2018-10-15 14:43] stusmall commented on #1
Same!

[2018-10-15 15:19] vi commented on #4
Shall it sill have the name "RustSec" even after merger? I.e "RustSec is how Rust's security working group named".

[2018-10-15 15:28] tarcieri commented on #4
The official name of the working group is the Secure Code Working Group. I would suggest keeping RustSec's name the same, but using that as the name of the advisory database and tool.

Among other things it's in the name of the vulnerability IDs.

[2018-10-15 16:39] joshlf commented on #2
OK, in that case, I propose Zulip. Let's leave this issue open for ~1 day to give folks time to voice disagreements, and then let's set up a stream?

[2018-10-15 16:49] DrizztVD commented on #2
I used Zulip for a short while. I got the impression it has fewer problems than discord. I would like to try forging some applicable discussions on www.kialo.com, even if only to experiment, but that might be a pie in the sky.

[2018-10-15 17:52] stusmall commented on #5
It's up.  I'll update it to explicitly call out other communication channels as we add them.

[2018-10-15 17:52] #5 closed

[2018-10-15 21:05] joshlf commented on #1
@Shnatsel Would you be willing to run with that? Maybe add "Secure Code" on the shell?

[2018-10-15 21:48] tarcieri commented on #1
I kind of know my way around Illustrator and would be happy to run with any particular concept, particularly if you're into having `.svg` and `.ai` versions of the logo

[2018-10-15 22:37] joshlf commented on #1
I won't stop you :)

[2018-10-16 01:37] tarcieri opened #6 "Crate Trustworthiness"
I think the issue of "which crates can we trust", where trust is some sort of crate reputation system, came up a lot in the discussions I participated in.

Here's a relevant incident which just occurred:

https://internals.rust-lang.org/t/crates-io-incident-2018-10-15/8568

[2018-10-16 05:10] Shnatsel commented on #1
Wow, glad to see you guys liked hermit Ferris!

In retrospect, I'd use the "gesturing" Ferris variant from http://www.rustacean.net/ and make him hold up the shell with one pincer, to make it look like he's doing something instead of just sitting there.

Putting text on the shell would require the logo to be quite large for the text to be readable. 100x100px is definitely out, and github userpics

[2018-10-16 22:11] joshlf commented on #2
Alright, Zulip it is.

[2018-10-16 22:30] #2 closed

[2018-10-19 00:20] tarcieri opened #9 "Twitter"
FYI, I created a Twitter account:

https://twitter.com/rustsecurecode

DM it anything you'd like to post and I'll post it. Also let me know if you have any suggestions for changes to the profile.

[2018-10-19 04:01] joshlf commented on #9
Open a PR to add that to our README?

[2018-10-19 17:16] tarcieri opened #10 "RFC ideas"
This is a tracking ticket for potential ideas for Rust security improvements to the core language and standard library to be submitted via the RFC process at https://github.com/rust-lang/rfcs

The idea here is list some potential RFC items and then coordinate who (if anybody) wants to work on them. Once we've figured that out we can go from there.

Feel free to edit the list below or request it be

[2018-10-19 17:33] Shnatsel commented on #10
Here's mine: [Fixed-capacity view of Vec](https://internals.rust-lang.org/t/pre-rfc-fixed-capacity-view-of-vec/8413) to address a use case for appending contents of a vector to itself. This is a common pattern in decompressors of all kinds (gzip, audio, images), but people doing it in practice tend to end up with implementations that are slow, unsafe, or both. See the link for rather in-depth info

[2018-10-19 18:04] joshlf commented on #10
@Shnatsel I moved your comment into the first comment, so I'm deleting yours.

[2018-10-20 11:41] #3 closed

[2018-10-21 04:32] joshlf commented on #9
Closed in #11.

[2018-10-21 04:32] #9 closed

[2018-10-21 05:58] briansmith commented on #10
I think it would be better to just submit each of these as a separate issue instead of having a meta-issue with many sub-issues. That is, it would be easier to deal with this kind of thing if there were a 1:1 correspondence between issues and proposals.

[2018-10-21 06:02] tarcieri commented on #10
@briansmith this was just a quick ideas list for people who might want to work on the same RFCs to coordinate on collaboration. In the description I had suggested:

The next issues I feel we should open after this are the RFCs themselves (or Discourse pre-RFC threads).

[2018-10-23 18:07] zachreizner opened #13 "crates.io RustSec Auditor"
The first milestone for this would be a program that cross-references the [RustSec advisory-db](https://github.com/RustSec/advisory-db) with the crates.io database and prints crates with vulnerable dependencies.

The second milestone is notifying crates with vulnerable dependencies, so that they may upgrade.

[2018-10-23 18:15] alex commented on #13
Will `cargo audit` currently catch a vulnerable dependency if it's a transitive dependency?

[2018-10-23 18:19] tarcieri commented on #13
@alex yes, `cargo audit` uses the dependency list from `Cargo.lock`, which includes all transitive dependencies

[2018-10-23 18:22] alex commented on #13
👍 -- wanted to confirm that checking crates.io was about being proactive vs. a first line of defense.

[2018-10-27 14:00] frewsxcv commented on #4
Tangential thought – we should reach out to GitHub to see if we can get their [security alerts](https://blog.github.com/2017-11-16-introducing-security-alerts-on-github/) feature working on Rust projects via RustSec

[2018-12-05 22:47] burdges commented on #6
I'd expect crates.io to becoming an attack vector eventually, ala [npm](https://twitter.com/jeffburdges/status/1070438400841449478).  I've two questions:

Would name spaces alleviate this attack vector?  It's tricky.  Imagine I do not release `burdges/foolib` to right9ctrl, but instead add a deprecation warning `right9ctrl/foolib`.  If this deprecation warning lives in a `readme.md` then downstrea

[2018-12-16 22:33] tarcieri commented on #1
Okay, after much ado, may I present Hermes, the Hermetic Hermit Crab:

![hermes](https://user-images.githubusercontent.com/797/50059730-50b33500-013f-11e9-89df-4f3561b7c2d8.png)

I made him in Illustrator out of bits and pieces of Ferris. People seemed to like the hermit crab idea so I rolled with it, but I like metal so I tried giving him a metallic-colored shell.

I thought perhaps Ferris could

[2018-12-16 22:49] Shnatsel commented on #1
Instead of a shell I saw [a stack of stones](https://depositphotos.com/178467400/stock-photo-stacked-stones-on-white-background.html) for a moment and now I cannot unsee it.

I'll try to do my own take on the logo in vector form.

[2018-12-16 22:57] tarcieri commented on #1
Here's an SVG and Illustrator version of "Hermes":

[Hermes.svg.gz](https://github.com/rust-secure-code/wg/files/2684041/Hermes.svg.gz)
[Hermes.ai.gz](https://github.com/rust-secure-code/wg/files/2684040/Hermes.ai.gz)

I can also try to do a bit more "natural" shell color...

[2018-12-16 23:01] tarcieri commented on #1
Brown shell instead of gray:

![hermes brown shell](https://user-images.githubusercontent.com/797/50060050-780c0100-0143-11e9-8e25-6e45e40d0710.png)

[2018-12-17 14:47] Tom-Phinney commented on #1
I'd still prefer Ferris to have some kind of black hat. Since Rust is more forward-looking than other languages, perhaps it should be a jaunty black beret.

[2018-12-17 17:38] tarcieri commented on #1
@Shnatsel had suggested adding some gradients on the shell, so I thought I'd give that a try

![hermes brown shell](https://user-images.githubusercontent.com/797/50104652-75f78000-01df-11e9-900e-bfba56e22881.png)

[2019-01-06 22:45] Shnatsel commented on #13
https://gitlab.com/zachreizner/crates-audit/ implements checking crates.io index against RustSec advisory database and outputs the result in .json, .bin and .toml formats. It also has a web UI that displays this info. It flags crates with no semver-compatible upgrade path, i.e. the issues that cannot be resolved by running `cargo update`. As of this writing there are at around 700 such crates.

Th

[2019-01-06 23:21] Shnatsel commented on #6
Relevant discussion on crates.io bug tracker: https://github.com/rust-lang/crates.io/issues/75

https://github.com/dpc/crev which may solve it for companies with a security department reviewing incoming code

[2019-01-07 15:58] tarcieri commented on #13
Hear hear @Shnatsel, crates-audit is really starting to shape up. Great work @zachreizner !

One thing I've been trying to facilitate is integrating RustPräzi, a crater-like tool which builds a complete call graph of all of crates.io:

https://internals.rust-lang.org/t/prototype-dev-tool-rustprazi-a-tool-to-build-an-entire-call-graph-of-crates-io/8912

I added support for collecting the relevant m

[2019-01-07 19:35] Shnatsel commented on #13
Nice! Is there a repository with a prototype of the RustPrazi-based tool that I could link to?

[2019-01-08 00:18] Shnatsel opened #14 "Make production binaries auditable for known vulnerabilities"
We need to make binaries deployed in production auditable for known security issues. This may include non-trivial deployment methods, such as:

 * Plain old `cargo install`
 * An executable inside a Docker container
 * A shared library linked into another language

Ideally this should also extend to statically linked C libraries, if any.

Rustc and LLVM version are already embedded in the binary,

[2019-01-08 00:27] Shnatsel opened #15 "RustSec integration into DevOps workflow"
We need to make discovering that you need to apply security updates and applying them it as easy and obvious as possible.

Production deployments have higher security requirements than development environments. Therefore auditing and fixing deployed binaries is higher priority than auditing source code.

Hard questions:

1. If you run Rust code in production, how do you get notified that you need

[2019-01-08 00:31] Shnatsel commented on #15
Discussion on internals forum: https://internals.rust-lang.org/t/pre-rfc-reviving-security-advisories-in-crates-io-rfc-pr-1752/9017

[2019-01-08 00:59] Shnatsel opened #16 "RustSec integration into crates.io UI"
Some crates on crates.io pull in vulnerable versions of transitive dependencies that do not have a semver-compatible upgrade path. An example of this is OpenSSL crate which is vulnerable to trivial MitM in versions prior to 0.9. There currently exists a crate with 8000+ downloads in the last 3 months that depends on a vulnerable version of OpenSSL, and this info is not exposed on crates.io in any

[2019-01-08 01:27] Shnatsel opened #17 "First-class Rust/Angora integration"
Angora is a new fuzzer that according to its authors is strictly superior to the AFL-inspired status quo. See https://arxiv.org/abs/1803.01307 for more info.

Angora itself is written in Rust, but does not support fuzzing Rust code yet, and does not have a good Cargo integration like afl, libfuzzer and honggfuzz do.

Tracking issue for supporting Rust in Angora: https://github.com/AngoraFuzzer/Ang

[2019-01-08 01:36] Shnatsel opened #18 "Better code authentication"
crates.io currently lacks a number of fairly basic security features, such as requiring signatures from several maintainers to issue a package release.

Designing a solution for this from scratch or gradually patching for more and more stuff sound like dubious undertakings. Fortunately, [The Update Framework](https://theupdateframework.github.io/) provides a fairly comprehensive solution that is n

[2019-01-08 15:36] Inventitech commented on #13
@Shnatsel https://github.com/praezi/rust

[2019-01-08 17:00] tarcieri commented on #18
Here's a proposal I wrote to use TUF for crates.io signing https://github.com/withoutboats/rfcs/pull/7

[2019-01-08 18:59] tarcieri commented on #16
Potentially related issues:

https://github.com/rust-lang/cargo/issues/2608
https://github.com/rust-lang/crates.io/issues/145
https://github.com/rust-lang/crates.io/issues/1153

[2019-01-12 21:10] Shnatsel commented on #1
I've tried some shell designs with Ferris and this is what I've got. Presenting them in 64px size since that's how it will be most commonly presented (github/blog userpics, etc):

![screenshot from 2018-12-24 20 24 27](https://user-images.githubusercontent.com/291257/51078548-ccf55580-16b6-11e9-9401-4b05babe3232.png)

Then I tried messing around with the shell of the left and got these:

![screens

[2019-01-12 22:08] Shnatsel commented on #14
I have a proof of concept implementation that embeds `Cargo.lock` into compiled binaries with non-perfect but reasonable ergonomics, and a tool to recover that info afterwards. This can be used for running `cargo audit` directly on those binaries, or performing custom checks based on library versions or hashes.

While I am waiting for permission to release the code, here's a sneak peek:
[code]

Th

[2019-01-12 22:55] Tom-Phinney commented on #1
I prefer the last of the five above. Essentially, IMO simpler is better in terms of the shell (but I dislike the stacked ring version (top row right) intensely).

[2019-01-13 22:01] Shnatsel commented on #1
Another day, another batch of shelled Ferrises:

![screenshot from 2019-01-13 22 56 35](https://user-images.githubusercontent.com/291257/51091140-9129c100-1786-11e9-8203-a8ca61e27f39.png)

I'm ready to proclaim the leftmost one my final proposal. Here's the source SVG:
[rustacean-shell2.2-spikes2.5-gradient2-shadow.svg.zip](https://github.com/rust-secure-code/wg/files/2753578/rustacean-shell2.2-sp

[2019-01-13 22:06] Shnatsel commented on #1
Hermes in 64px for comparison:
![screenshot from 2019-01-13 23 05 17](https://user-images.githubusercontent.com/291257/51091207-cb479280-1787-11e9-8ae2-35e41d7de90d.png)

[2019-01-14 00:43] Tom-Phinney commented on #1
Of the five shelled Ferris candidates, I prefer the shell color of #3 (as it appears on my screen) but would be satisfied with #1. I don't like #5 or, to a lesser extent, #4. I don't like either Hermes logo; I think they look fierce, unlike friendly Ferris.

[2019-01-14 01:31] Shnatsel opened #19 "Reduce the use of `unsafe` in the ecosystem"
Many widely used libraries use unsafe code where it's not strictly necessary. Typically this is done for performance reasons, i.e. there are currently no safe abstractions to achieve the goal safely and efficiently. The goal here is to reduce or eliminate the use of unsafe code throughout the ecosystem where it is not strictly necessary without regressing correctness or performance.

The per-crate

[2019-01-14 01:44] Shnatsel opened #20 "Improve ergonomics for Address Sanitizer"
Running Address Sanitizer, the go-to memory debugger, currently requires multiple workarounds:

 - All sanitizers are botched in the default build mode, you need to force rustc to use `gold` linker as a workaround (https://github.com/rust-lang/rust/issues/53945)
 - ASAN produces "ODR violation" false positives which can be suppressed through the ASAN options mechanism (https://github.com/rust-lang

[2019-01-14 01:44] Shnatsel commented on #20
The activity hub for sanitizers in Rust seems to be https://github.com/japaric/rust-san

[2019-01-14 01:49] Shnatsel opened #21 "Make Memory Sanitizer actually work"
Memory Sanitizer, the tool to detect use of uninitialized memory, is ostensibly supported but has no documentation on actually using it. Simply trying to use it [like any other sanitizer](https://github.com/japaric/rust-san) produces a false positive on startup.

There is currently no reliable alternative, which led people to build [fragile custom tooling](https://medium.com/@shnatsel/how-ive-foun

[2019-01-14 01:51] alex commented on #21
Even in C using msan is very difficult, since it requires you to have every single library compiled using it, this would include both libstd and libc, as well as any C libraries a project uses. It's not like ASAN/UBSAN where it's possible to have only some of a project compiled with it. So while I agree we should make it as easy as possible, it'll probably never be as easy as ASAN.

[2019-01-14 02:14] Shnatsel opened #22 "Safety-oriented static analysis tooling"
[Clippy](https://github.com/rust-lang/rust-clippy) is great, but is not really geared towards safety or security analysis. There is a need for safety-oriented non-heuristic sound tooling.

There are currently two projects working in that direction (ignoring formal proof systems that are too cumbersome to use):

1. [Prusti](https://www.research-collection.ethz.ch/handle/20.500.11850/311092) for pro

[2019-01-14 02:21] Shnatsel opened #23 "Continuous verification of standard library"
Two [serious](https://cve.mitre.org/cgi-bin/cvename.cgi?name=%20CVE-2018-1000657) [vulnerabilities](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000810) have been discovered in libstd to date. Another one was introduced but reverted before release because it was so bad that it [caused crashes even on valid data](https://github.com/rust-lang/rust/issues/54477). All of these were introduc

[2019-01-14 02:37] Shnatsel commented on #21
The hub for work on LLVM sanitizers in Rust is https://github.com/japaric/rust-san

[2019-01-14 02:49] Shnatsel opened #24 "Encode common safety anti-patterns in Clippy"
https://github.com/rust-lang/rust-clippy is the go-to linter for Rust. We should encode common anti-patterns in it so that people will get warnings about such code. This includes:

1. Code that compromises safety directly, such as improper path handling
1. Code that tends to be slow and get refactored into unsafe code for performance reasons, even though a safe alternative is available (see https:

[2019-01-14 10:57] vakaras commented on #22
Thanks for referencing the tools! I would like to clarify their aims and capabilities:

Prusti ([project page](http://prusti.ethz.ch)) aims to support verification of functional properties such as that function `max(a, b)` returns a value that is not smaller than any of its arguments. While it can be used for proving the absence of overflows, an abstract interpretation based analyser such as MIRAI

[2019-01-14 11:35] vakaras opened #25 "Teaching Safe Programming"
It seems that most issues on this repository are about improving tooling. However, I think that it is also important to teach the community how to use these tools efficiently. Are there any plans to prepare documentation that introduces in a single place the tools available, explains when they should be used, and at least links to the documentation on how to use them? Maybe, it would be good to ex

[2019-01-14 20:13] Shnatsel commented on #25
I am very hopeful about something like Clippy containing knowledge on anti-patterns instead of a guide. Simply because nobody cares about a guide, while clippy is _right there._

However, high-visibility info on proper processes and available tooling would be great. For example, `cargo-asm` is something a lot of people want but many do not discover. I didn't back in the day. There's a Rust 2019 go

[2019-01-14 20:48] Shnatsel opened #26 "Great dynamic analysis tooling"
We already have some excellent tooling for generating test cases for programs to make them blow up:
 - Parametric testing: [QuickCheck](https://github.com/BurntSushi/quickcheck) and [Proptest](https://github.com/altsysrq/proptest)
 - Fuzzing: [AFL](https://github.com/rust-fuzz/afl.rs), [libfuzzer](https://github.com/rust-fuzz/cargo-fuzz) and [honggfuzz](https://github.com/rust-fuzz/honggfuzz-rs)

[2019-01-14 20:52] Shnatsel commented on #26
FWIW I've taken a stab at "universally applicable alternative to Memory Sanitizer" by writing [libdiffuzz](https://github.com/Shnatsel/libdiffuzz), but my approach was very simplistic, so the tool is not any better than MSAN, it just has completely different limitations.

A more sophisticated approach that's closer to what MSAN is doing might yield better results. Or perhaps someone could just bea

[2019-01-14 21:15] Shnatsel commented on #21
If someone can concoct an alternative to Memory Sanitizer that does not require _all_ of the code to be instrumented and merely requires Rust code to be, that would be great too. Perhaps Rust's custom allocator API can enable such use cases.

[2019-01-14 22:03] tarcieri commented on #22
clippy is a great thing to lean on though. In addition to improving clippy's existing security/restriction lints, @manishearth says he'll accept clippy security PRs for widely used ecosystem crates. I'd look to something like [gosec](https://github.com/securego/gosec) for security lints which could be implemented in terms of clippy.

Something I've daydreamed about is a security-oriented static an

[2019-01-14 22:21] Manishearth commented on #22
@shnatsel where are you getting "clippy isn't oriented towards security analyses" from? We do multiple kinds and don't have an aversion to security analyses.

[2019-01-14 22:31] Manishearth commented on #22
It has a couple security-ish lints, and a lot of the restriction (opt in) lints are useful for security purposes, but in general security practices aren't yet crystallized for rust yet so there's not much it can do there. Like, this WG deciding on things is a prerequisite, because there's a limit to what _can_ be linked (e.g. we can't do global analyses) so the lints have to be evolved in tandem w

[2019-01-14 22:51] Manishearth commented on #22
Chatted with @bascule out of band about this.

From Clippy's point of view, we're willing to add lints about popular crates (e.g. there's a limit about passing invalid regexes to the regex crate). So if there's thing that's almost unambiguously (false positives are okay, just not too many) insecure with Diesel, we can lint that. If you have a lot of false positives it can be turned into an opt-in

[2019-01-15 02:12] tarcieri commented on #22
The [untrusted](https://crates.io/crates/untrusted) crate contains some wrapper types for this purpose, namely a wrapper for `&'a [u8]` (i.e. `untrusted::Input`) which might be useful for certain cases of this sort of thing. Namely this crate also provides a set of panic-free operations for acting on / parsing these slices as well.

Not sure what @briansmith thinks of using this crate for general

[2019-01-15 16:25] tarcieri opened #27 "Improve clippy security lints"
[clippy](https://github.com/rust-lang/rust-clippy) is a Rust linting tool designed to detect common Rust mistakes and provide helpful suggestions for how to improve code. A list of the lints it presently supports is here:

https://rust-lang.github.io/rust-clippy/master/

Among these are ~~"restriction" (opt-in)~~ security lints! ~~These are not (upon cursory inspection) presently leveraged for sec

[2019-01-15 16:58] tarcieri commented on #27
@manishearth any advice on what constitutes a crate significant enough to be worthy of a clippy lint?

The above list of crate-specific lints is my attempt at mapping some of the gosec lints to the Rust ecosystem. In Go the corresponding functionality for these is part of the standard library.

As a quick case study: [ssh2](https://crates.io/crates/ssh2). It's a commonly used security protocol, wi

[2019-01-15 17:00] tarcieri commented on #24
Whoops, guess I opened #27 without seeing this before and it's a dup. How would you like to proceed @Shnatsel ?

[2019-01-15 17:01] tarcieri commented on #22
I opened #27 to discuss adding security-oriented restriction lints to clippy (which unfortunately appears to be a dup of #24, whoops)

[2019-01-15 17:24] Manishearth commented on #27
Uh, to be clear, y'all probably don't want restriction lints, restriction lints are for things which aren't necessarily "bad" but you may have a reason to turn them off for a subset of code.

You want correctness and pedantic lints (the former is opt-out). We could also add a new opt-out "security" category (and use pedantic for the opt in ones), since correctness lints have a high bar.

Not reall

[2019-01-15 17:50] tarcieri commented on #27
That sounds great to me

[2019-01-15 19:21] Shnatsel commented on #27
We should also lint about code that tends to be slow and get refactored into unsafe code for performance reasons, even though a safe alternative is available (see rust-lang/rust-clippy#3237 for an example). This lint was created in the wake of [RUSTSEC-2018-0004](https://rustsec.org/advisories/RUSTSEC-2018-0004.html). #19 should be a good source of these.

[2019-01-15 19:22] Shnatsel commented on #27
Also, a static analyzer for Rust that's focused on taint analysis is in development: https://github.com/facebookexperimental/MIRAI

[2019-01-17 02:47] tomtau commented on #27
btw, to support this effort, a bounty was put up here: https://www.bountysource.com/issues/68733714-improve-clippy-security-lints

As this will be rolled out across many small issues on https://github.com/rust-lang/rust-clippy by different people, they could all possibly come back to this issue and claim their part:

https://github.com/bountysource/core/wiki/Frequently-Asked-Questions#can-several-

[2019-01-17 04:52] tarcieri commented on #22
Regarding this:

What would people think of expanding `cargo audit` to do more than just lint Cargo.lock against the RustSec Advisory DB?

It could potentially run additional static analysis tools (in parallel!), like the clippy security lints, cargo-geiger, Prusti/MIRAI , etc.

[2019-01-17 04:55] alex commented on #22
`cargo audit` as a frontend to running `cargo clippy --security` seems ok to me, but I think the functionality should live in clippy.

[2019-01-17 04:56] tarcieri commented on #22
Absolutely! The idea wouldn't be to duplicate these tools, but make it easy to run several of them on a single codebase (in parallel, and with a unified configuration).

[2019-01-17 13:18] Shnatsel commented on #22
I feel a single tool doing everything at once would be overwhelming. It would spit out so many warnings that people would just ignore all of them. The fact that some tools have greater false positive rates than others doesn't help.

That said, we do have a problem with discoverability of tooling. This is tracked as #25

[2019-01-17 13:39] Manishearth commented on #22
That's what lint groups are for, clippy can turn off a bunch of these by default and your tool can turn them on wholesale easily.

Like, this is a very normal problem clippy has already, and we've solved this already.

You really don't want to try maintaining a separate linting library unless you can also get it to be included in the rust build process (unlikely).

[2019-01-17 18:42] tarcieri opened #28 "Reproducible build tooling"
Reproducible builds would be useful for a number of different reasons:

- Binary releases of Rust applications which can be independently verified for reproducibility
- [Binary crates](https://github.com/rust-lang/cargo/issues/5654)
- A community build system / [global build cache](https://internals.rust-lang.org/t/idea-cargo-global-binary-cache/9002)

I believe the main issue for reproducible Rus

[2019-01-17 19:08] tarcieri commented on #22
I mentioned a few "security suite" static analysis tools I've used in the past with great success:

## [Brakeman](https://github.com/presidentbeef/brakeman)

A popular(!) security-oriented static analysis tool for Ruby/Rails, which was further developed into a [commercial offering](https://brakemanpro.com/) (which it seems was recently acquired).

In the same way I looked to [RubySec](https://gith

[2019-01-17 19:10] tarcieri commented on #22
I sure don't, and everyone always has clippy! I'd definitely rather lean on clippy for that sort of thing, and then just shell out to it to drive it.

[2019-01-19 01:12] kpcyrd commented on #28
reprotest is language agnostic, it basically takes some files as input, runs a shell command twice with as many variations as possible and then compares the result.

Right now it seems binary releases are usually reproducible given this command:
[code]
I'm not sure it makes sense to duplicate reprotest into cargo, but it would make sense to remap paths automatically: https://github.com/rust-lang/c

[2019-01-19 01:19] tarcieri commented on #28
My use case is: I don't presently have a Python interpreter installed in one particular environment where I would like to do build verifications, and I would personally prefer to keep it that way.

[2019-01-20 03:03] dongcarl commented on #28
@tarcieri Perhaps this is something that [GUIX challenge](https://www.gnu.org/software/guix/manual/en/html_node/Invoking-guix-challenge.html) can help with?

[2019-01-20 21:02] snf commented on #28
A new tool would also open the doors to other platforms whereas `reprotest` is Linux oriented.

Even if we contribute support for other platforms to it, non-nix platforms like Windows (Rust Tier 1) will involve a non-trivial amount of work which might be better to put into `cargo repro`.

[2019-01-20 22:33] kpcyrd commented on #28
Just to clarify, you want to ensure that the build hasn't been tampered with before signing it with a special release key, correct? I would not recommend reprotest to do that.

reprotest is more of a ci/debug tool that you would use as a part of your automatic tests that tries to maximize diversity of the build environments and checks that the build result is still identical, or try to narrow down

[2019-01-20 22:37] tarcieri commented on #28
I know some people working on in-toto. Will chat with them about this.

[2019-01-23 16:21] tarcieri opened #29 "Build-time sandboxing"
There's been a lot of discussion in the WG (and in the past, several pre-RFC style proposals) to add some sort of sandboxing around code executed during the build process, including things like `build.rs` files and procedural macros.

I wrote down my rationale for what I'd like to defend against with such a sandbox:

https://tonyarcieri.com/rust-in-2019-security-maturity-stability#sandboxing-for-c

[2019-01-23 16:36] tarcieri commented on #29
In broad strokes, I think there are two paths to be pursued, which are not mutually exclusive and also do not depend on each other and therefore can be independently pursued by anyone interested:

1. "Do No Harm" sandbox: retrofit sandboxing in such a way that it does not break any existing crates, e.g. add sandboxing which does not break [crater](https://github.com/rust-lang-nursery/crater). This

[2019-01-23 17:13] ckaran commented on #29
I like/prefer this approach.  The hard problem is determining what should/shouldn't be allowed.  I propose that we create an 'underhanded rust' competition similar to [the underhanded C competition](http://www.underhanded-c.org/).  I don't think we need to go to the extent of actually writing code, at least not until someone starts writing a real sandbox, but it would be a good way to look for bug

[2019-01-23 21:18] tarcieri commented on #29
For this sort of approach, I think it might be nice to start with the most restrictive sandbox possible, and allow crate consumers to opt into the special permissions some crates might need to do unusual things at build time.

Here's a longer writeup of that idea: https://internals.rust-lang.org/t/build-script-capabilities/8635

[2019-01-23 21:55] Shnatsel commented on #29
https://underhanded.rs

Why not both?

[2019-01-23 22:19] ckaran commented on #29
@Shnatsel And that is why I should google more and talk less...

[2019-01-23 23:24] tarcieri commented on #29
I think both are potentially valuable. To be clear this isn't necessarily an either-or decision.

[2019-01-24 18:45] tarcieri commented on #29
Interestingly enough, it looks like crater now forbids network access: https://github.com/rust-lang-nursery/crater/pull/336

[2019-01-24 20:21] ckaran commented on #29
FYI, there is a [tracking issue](https://github.com/rust-community/team/issues/256) that might be of interest to others reading this thread.

[2019-01-28 23:10] tarcieri commented on #1
So this issue has been open for nearly 3 months at this point. Perhaps it's time to have a final call for logos and some sort of voting process for the winner.

I submitted a logo so I think it would be best if someone who didn't tried to organize some sort of vote for the winner. If people would like to do that over Twitter I can tweet it out, or there are any number of other ways we could do it

[2019-01-28 23:19] Tom-Phinney commented on #1
Many people in the security community block Facebook and Twitter. Please choose a different website to conduct the poll.

[2019-01-29 09:50] Shnatsel commented on #1
I can also crop and extend https://flic.kr/p/656T74 to make it square. It would also work pretty well for the likes of twitter or github userpics.

[2019-01-29 19:12] joshlf commented on #1
OK, final call for submissions! I'll leave this up for 24h, and then open a poll. @Tom-Phinney I'll try to figure out a way to extend the poll beyond Twitter (probably to GitHub).

[2019-01-29 19:59] Shnatsel commented on #1
FWIW I am on a business trip away from editing tools and will not be able to make a photo-based submission until the weekend. So disregard my "I can crop this" message above.

[2019-01-29 23:32] Shnatsel commented on #1
For the photo to be square you will have to extend the background vertically with either liquid resize GIMP plugin or resynthesizer GIMP plugin. Nothing complicated, just gotta find and install one of these tools.

[2019-01-30 01:10] tarcieri commented on #1
I am familiar with Photoshop's [content-aware resizing features](https://helpx.adobe.com/photoshop/using/content-aware-scaling.html) and can field that request 😉

[2019-01-30 06:48] joshlf commented on #1
@tarcieri That'd be very helpful, thanks :)

[2019-02-02 16:42] tarcieri commented on #1
Here's a square version resized with Photoshop's content aware scaling. Still seems a little weird, but I guess that's what you get out of these algorithms:

![hermitcrab](https://user-images.githubusercontent.com/797/52166773-7a5ff580-26c6-11e9-8985-0a78f00eae89.png)

[2019-02-02 16:49] tarcieri commented on #1
Here it is after cropping the image first to make it a bit more square to begin with so the content-aware resize algorithm has less image to "fill in", which I think is what @Shnatsel was suggesting originally. Looks better to me:

![hermitcrab2](https://user-images.githubusercontent.com/797/52166850-65379680-26c7-11e9-9b01-b52ef5ea89c5.png)

[2019-02-02 16:59] Shnatsel commented on #1
Photoshop also should have a clone of GIMP's Resynthesizer plugin, it should be called "Content aware _something_". You want the "Uncrop" operation from there. It should work better than liquid resize.

[2019-02-02 17:05] Tom-Phinney commented on #1
For me the big question is: Do we want a logo that recognizably resembles Ferris, such as one of @Shnatsel's up-thread Ferris-under-a-shell images, or do we want a realistic photo like the above? My initial view was that a shelled Ferris was preferable from a marketing/publicity standpoint, but since security is a real-world problem maybe the above real image is more appropriate.

[2019-02-02 17:07] tarcieri commented on #1
Here it is using Photoshop's Content-Aware Fill feature to fill in the gaps. Looks worse, IMO (more repetitive around the parts where it's filled in)

![hermitcrab3](https://user-images.githubusercontent.com/797/52167052-e2fca180-26c9-11e9-81fb-e136693e1b67.png)

[2019-02-03 19:56] Shnatsel commented on #29
Do we have a threat model defined? I don't think we could move forward very effectively without one.

[2019-02-03 20:37] tarcieri commented on #29
@Shnatsel I wrote up a bit about that in my [blog post](https://tonyarcieri.com/rust-in-2019-security-maturity-stability#sandboxing-for-code-classprettyprintbuildrsco_2):

- Build scripts / proc macros allow attackers to move laterally between low value and high value targets
- They also permit stealthy attacks, whereas trojan payloads in targets leave forensic evidence

[2019-02-03 21:01] Shnatsel commented on #29
I.e. we assume that a dependency that's pulled in is malicious or compromised?

[2019-02-06 14:38] ckaran commented on #29
Would [Docker](https://github.com/docker/docker-ce) or [LXC](https://linuxcontainers.org/) be a good way to mitigate the compile-time problems?  My thought is that the rust community shouldn't reinvent the wheel; if at all possible, we should reuse whatever security methods are available to us.

[2019-02-06 16:19] tarcieri commented on #29
@ckaran personally I already do containerized builds using Docker. I agree that mitigates a lot of the same problems, and that Rust shouldn't reinvent Docker, but not everyone is using containerized builds, and even then I'd prefer a "belt and suspenders" approach.

[2019-02-06 17:36] ckaran commented on #29
@tarcieri I agree about the 'belt and suspenders' approach, but I was thinking of what could be done to mitigate issues quickly.  One method would be to make docker/LXC/something else containers be the standard; when you install rust, you get the containerized versions.

Once that is done, we've got a little breathing room and can consider what to do next properly, rather than stomping out fires i

[2019-02-06 20:21] tarcieri commented on #29
I don't think containers make sense for that. It's great if they're part of an (existing) build system, but a containerization environment is an extremely heavyweight dependency.

I think something like gaol, as a lightweight, self-contained Rust library (and one which the core team is already somewhat familiar with, I'd wager) designed specifically for the purposes of sandboxing, would make more

[2019-02-06 23:07] ckaran commented on #29
@tarcieri Gaol is a good idea, but as the project states on its own page "At the moment, gaol is only lightly reviewed for correctness and security. It should not be considered mature or "battle-tested". Use at your own risk." Given that, I figure that it might be better to get something that plugs the hole now, and then replace it with something better when that something (gaol, or something else

[2019-02-06 23:09] tarcieri commented on #29
I suspect making Docker, runc, or any sort of containerization tool a mandatory dependency of Rust is going to be a nonstarter.

[2019-02-07 15:27] ckaran commented on #29
OK, so how do you suggest we proceed?  Use gaol (or something similar) ASAP, and fix bugs as they come up?  While I accept that gaol is the better approach, my concern is one of time; it may be quite a long while before gaol is considered to be as good as the current available containerization technologies.  How do we deal with any problems that crop up between now and then?

[2019-02-07 15:45] tarcieri commented on #29
I think we're at the point we can attempt a prototype (perhaps an experimental out-of-tree one). I think that's something @alex expressed interest in.

I can provide a writeup of the sort of thing I'd like to see.

[2019-02-07 21:00] kpcyrd commented on #29
If I recall correctly gaol requires special privileges that a regular user doesn't have. Restricting certain syscalls with seccomp is probably the best way forward.

[2019-02-08 16:20] tarcieri commented on #29
gaol allows you to configure a profile regarding which kinds of sandboxing you'd like performed and also detect whether that type of sandboxing is applicable to the current platform.

I'm not sure which of its sandboxing features require elevated privileges, but if they exist, we can shut them off for non-superusers, and *enable* them for superusers. This is particularly helpful as it's quite comm

[2019-03-05 22:50] Shnatsel commented on #1
My final logo submission:

![secure-code-wg-logo-final svg](https://user-images.githubusercontent.com/291257/53842772-b5449a00-3fa0-11e9-959b-78f61b058edf.png)

Archive with source SVG and oversized rendered PNG: [hermit-ferris-hires-vector.zip](https://github.com/rust-secure-code/wg/files/2933464/hermit-ferris-hires-vector.zip)

[2019-03-05 23:34] joshlf commented on #1
Last call for submissions before we post the poll!

[2019-03-05 23:39] joshlf commented on #1
(for real this time :P )

[2019-03-05 23:54] tarcieri commented on #1
Final submission:

![hermes](https://user-images.githubusercontent.com/797/53845665-cbca0180-3f5e-11e9-8738-08e169077d14.png)

.ai, .svg, and .png in a .zip:

[hermes.zip](https://github.com/rust-secure-code/wg/files/2933645/hermes.zip)

[2019-03-07 21:51] Shnatsel commented on #14
I have published a proof of concept implementation: https://github.com/Shnatsel/rust-audit

Discussion: https://www.reddit.com/r/rust/comments/awlqfi/

[2019-03-11 21:14] joshlf commented on #1
OK, time to vote!

- [Option 1](https://user-images.githubusercontent.com/291257/53842772-b5449a00-3fa0-11e9-959b-78f61b058edf.png)
- [Option 2](https://user-images.githubusercontent.com/797/50104652-75f78000-01df-11e9-900e-bfba56e22881.png)

Like this comment for Option 1, and heart for Option 2!

[2019-03-12 03:35] felix91gr commented on #1
The aesthetics of Option 2 seem out of the common Rust's/Ferris' themes. I think Option 1 is so well received precisely because it fits so well within that frame.

[2019-03-12 03:50] Tom-Phinney commented on #1
Agreed. Option 1 is Ferris in a protective hard shell. Option 2 is an aggressive/defensive Hermes, who looks like a relative of Ferris.

[2019-03-12 05:19] tarcieri commented on #1
As the artist, my intent was to make him smiling and look like he wants to give you a hug...

[2019-03-12 06:28] joshlf commented on #1
Don't worry, @tarcieri , that's how it came off to me :)

[2019-03-12 16:52] stusmall commented on #1
Same.  tbh I liked them both.  I'm glad we had two great options to pick from.

[2019-03-15 15:26] DevQps commented on #19
I think this is a nice goal! I guess it would be nice if we had some way to validate our results at the end of this year.

I saw [Cargo Geiger](https://github.com/anderejd/cargo-geiger) being mentioned somewhere and I think it is a very nice tool to use to verify our results.

Maybe we could automatize running Cargo Geiger on the top X most downloaded crates on crates.io and store the results? Thi

[2019-03-16 15:18] DevQps commented on #4
Since there hasn't been any new response for a while maybe it's best to close this issue now? Maybe it's best to create this issue on the RustSec project itself, or we could try to get people to participate using Zulip or the rustsec.org website?

[2019-03-16 15:21] DevQps commented on #1
I vote for Option 1!

[2019-03-16 15:34] DevQps commented on #4
Just an idea that came to my mind, but can we not move the Rustsec repositories to the rust-secure-code group? That way we would probably create a lot more visibility for these projects since all people inside this working group would likely to be seeing them. But it's just a suggestion though!

[2019-03-16 15:40] DevQps opened #30 "Publish a list of security-related projects"
# Description
There are many great crates and projects out there that enhance or assess the security of the Rust ecosystem someway. However there is currently no central point from which these projects can be found and they are often linked through blog posts or interesting discussions on Zulip.

I think the README of this working group would be a great place to collect projects that can be of hel

[2019-03-16 15:44] DevQps commented on #30
### RustSec Advisory Database
**Repository:** https://github.com/RustSec/advisory-db/

**Description:**
The RustSec Advisory Database is a repository of security advisories filed against Rust crates published via https://crates.io. Works closely with [Cargo Audit](https://github.com/RustSec/cargo-audit)

[2019-03-16 15:45] DevQps commented on #30
### Cargo Audit
**Repository:** https://github.com/RustSec/cargo-audit

**Description:**
Audit Cargo.lock for crates with security vulnerabilities reported to the [RustSec Advisory Database](https://github.com/RustSec/advisory-db/).

[2019-03-16 15:48] DevQps commented on #30
### RustSec Advisory Client
**Repository:** https://github.com/RustSec/rustsec-crate

**Description:**
Client library for accessing the RustSec Security Advisory Database: fetches the advisory-db (or other compatible) git repository and audits Cargo.lock files against it. It is mainly used by [Cargo Audit](https://github.com/RustSec/cargo-audit) but may be useful if you would like to consume the R

[2019-03-16 15:53] tarcieri commented on #4
@DevQps you're right we can probably close this issue as several WG members now regularly participate in RustSec.

I can consider moving the RustSec repos to this org rather than RustSec, but I'm not sure it actually makes sense. I'd agree it would improve overall discoverability, but I think there are other more high value things we could do on that front where time would be better spent, like [i

[2019-03-16 15:53] #4 closed

[2019-03-16 15:54] DevQps commented on #30
### Cargo Geiger
**Repository:** https://github.com/anderejd/cargo-geiger

**Description:**
A program that list statistics related to usage of unsafe Rust code in a Rust crate and all its dependencies.

[2019-03-16 15:55] DevQps commented on #30
### Cargo Fuzz
**Repository:** https://github.com/rust-fuzz/cargo-fuzz

**Description:**
Command-line wrapper for using libFuzzer. Easy to use, no need to recompile LLVM!

[2019-03-16 16:03] DevQps commented on #4
@tarcieri Some good points there! I agree with you that it's probably better to focus on other area's. Thanks for linking the Pre-RFC! I will go take a look (Y).

[2019-03-16 16:43] DevQps commented on #30
### Crates Audit
**Repository:** https://gitlab.com/zachreizner/crates-audit/

**Description:**
A tool to cross-reference the crates.io index with the RustSec Advisory database.

[2019-03-16 17:18] DevQps commented on #30
### The Update Framework in Rust
**Repository:** https://github.com/heartsucker/rust-tuf

**Description:**
A Rust implementation of The Update Framework [TUF](https://theupdateframework.github.io/).

[2019-03-17 19:28] DevQps commented on #30
### Cargo Crev
**Repository:** https://github.com/dpc/crev

**Description:**
crev is an code review system as opposed to typically practiced code-change review system.

[2019-03-17 19:30] DevQps commented on #30
### MIRAI
**Repository:** https://github.com/facebookexperimental/MIRAI

**Description:**
Mirai is an abstract interpreter for the Rust compiler's mid-level intermediate representation (MIR). It is intended to become a widely used static analysis tool for Rust.

[2019-03-17 19:30] DevQps commented on #30
### Cargo Clippy
**Repository:** https://github.com/rust-lang/rust-clippy

**Description:**
A collection of lints to catch common mistakes and improve your Rust code.

[2019-03-17 19:31] DevQps commented on #30
### MIRI
**Repository:** https://github.com/rust-lang/miri

**Description:**
An experimental interpreter for Rust's mid-level intermediate representation (MIR). It can run binaries and test suites of cargo projects and detect certain classes of undefined behavior

[2019-03-17 19:32] DevQps commented on #30
### Libdiffuzz
**Repository:** https://github.com/Shnatsel/libdiffuzz

**Description:**
This is a drop-in replacement for OS memory allocator that can be used to detect uses of uninitialized memory. It is designed to be used in case Memory Sanitizer is not applicable for some reason.

[2019-03-17 19:33] DevQps commented on #30
### BugHunt, Rust
**Repository:** https://github.com/blt/bughunt-rust

**Description:**
This project is aiming to provide "stateful" QuickCheck models for Rust's standard library.

[2019-03-17 19:34] DevQps commented on #30
### Angora
**Repository:** https://github.com/AngoraFuzzer/Angora

**Description:**
Angora is a mutation-based coverage guided fuzzer. The main goal of Angora is to increase branch coverage by solving path constraints without symbolic execution.

[2019-03-17 19:35] DevQps commented on #30
### honggfuzz-rs
**Repository:** https://github.com/rust-fuzz/honggfuzz-rs

**Description:**
A fuzzer developed by Google.

[2019-03-17 19:36] DevQps commented on #30
### afl.rs
**Repository:** https://github.com/rust-fuzz/afl.rs

**Description:**
Allows one to run the AFL fuzzer on code written in the Rust programming language.

[2019-03-17 19:36] DevQps commented on #30
### QuickCheck
**Repository:** https://github.com/BurntSushi/quickcheck

**Description:**
QuickCheck is a way to do property based testing using randomly generated input.

[2019-03-17 19:37] DevQps commented on #30
### Proptest
**Repository:** https://github.com/altsysrq/proptest

**Description:**
Proptest is a property testing framework (i.e., the QuickCheck family) inspired by the Hypothesis framework for Python.

[2019-03-17 20:10] DevQps commented on #25
@vakaras I currently created an issue with all the security related project and tools here: #30 . However we're still trying to find a good place on where to publish this list. We should probably add some rationale on what each project does and why it is useful as well.

[2019-03-18 09:49] vakaras commented on #25
@DevQps Thank you for compiling this list. I think it is a really nice starting point from which at some point we could try to build a “security cookbook”.

[2019-03-18 12:37] DevQps commented on #25
@vakaras I think so as well! It might be nice to also have a list of relevant articles / pre-RFCs. The only question that remains is: Where to publish them? It would be nice if newcomers do not have to spend too much time looking for a list like this. You have any idea's where we could put this?

One option would be to add a new file to our repository and put a link in the README? Or would that bl

[2019-03-19 10:05] vakaras commented on #25
Currently, the README contains the goals that this working group wants to achieve. However, I think it would be good to have some information in the README about how this group is moving towards these goals (if I understood correctly, that was your idea in #31?). Maybe there we could also give a link to the list of tools?

[2019-03-20 15:10] DevQps commented on #25
@vakaras That was the general idea of #31 indeed! But I currently only listed the work items, and it feels like it would be a bit too unclear for a beginner. Some information about how we move forward to the goals in a more general sense would be nicer I think! Do you have any suggestions on how to approach this?

I can make a PR that adds a README link to the projects (I will create a separate do

[2019-03-22 23:05] zachreizner commented on #29
Jotting this idea down that we came up with on the zulip channel:
If we don't want sandboxed build scripts to have networking, but we do want to support the use case of downloading a native source dependency that is missing (such as zlib or openssl), one potential solution would be to have optional "sidecar" zips that include the necessary source. If the build script determines that it needs it, i

[2019-03-23 14:08] vakaras commented on #25
@DevQps Sorry, for the late reply. I have missed your message.

Yes, also I am not sure if it would not be better to have a label for each goal and simply add a link to each goal that shows all issues tagged with the corresponding label.

Not really. Maybe, we could elaborate each goal a little bit to make it clearer what is meant?

To me personally that sounds like a good idea. Of course it would

[2019-03-23 19:03] DevQps commented on #25
@Shnatsel

@vakaras Thanks for your reply. I wonder: @Shnatsel What do you think about this?

[2019-03-24 12:43] vakaras commented on #30
### Loom

**Repository:** https://github.com/carllerche/loom

**Description:**
Loom is a model checker for concurrent Rust code. It exhaustively explores the behaviors of code under the C11 memory model, which Rust inherits.

[2019-03-25 09:41] brycx commented on #30
### untrusted.rs

__Repository:__ https://github.com/briansmith/untrusted

__Description:__
untrusted.rs allows for reliable and efficient parsing of untrusted inputs in Rust.

[2019-03-25 14:05] DevQps commented on #30
@brycx I think it can serve a purpose here! We'll just have to place it in the right category. Like "Utilities libraries for safe programming" or something like that.

With a bit of luck I will be able to create a Pull Request of this today or tomorrow!

[2019-03-25 17:03] tarcieri commented on #29
@zachreizner what makes a "sidecar zip" different from publishing the same contents as a crate?

[2019-03-25 17:52] joshlf commented on #19
I don't have time to work on this right now, but here it is in case somebody else does:

I recently came across some code in the [image](https://crates.io/crates/image) crate which uses `unsafe` to extend the length of a vector, exposing uninitialized elements, and then initialize those elements using some fairly complex, difficult-to-reason-about code. This is done for performance reasons.

I won

[2019-03-25 18:11] zachreizner commented on #29
The difference is that most crate content is not optional, where as this explicitly would be. That being said the idea of "sidecar zip" could be implemented using existing crate mechanisms.

[2019-03-25 19:40] tarcieri commented on #29
Yeah, I think leaning on crates as the archive format is the way to go. Potentially multi-stage builds could be used to e.g. run a script to determine of the next stage needs those optional resources, potentially enabling them as cargo features, which are the existing conditional compilation mechanism for selectively downloading crate dependencies.

[2019-03-26 02:31] briansmith commented on #22
"untrusted" vs "trusted" is too simplistic. We need additional notions like "unparsed" vs "syntactically valid" vs "syntactically valid and with a claim of provenance that hasn't been verified" vs. "trusted for a given set of uses." In addition, even when a binary distinction makes sense, it is problematic to use `untrusted::Input` as the input type, because if you have 5 input parameters, then al

[2019-03-27 23:24] Shnatsel commented on #27
Here's an actual bug that could potentially be discovered by a static analyzer: https://github.com/crepererum/rdxsort-rs/pull/2

Any thoughts on whether linting for this is viable?

[2019-03-27 23:28] Manishearth commented on #27
Yep, please file an issue on clippy listing what you need there.

Though there are plenty of reasons why that may be useful (e.g. relocating a buffer) so it may have to go under the pedantic category. As it stands for most clippy lints we want them to not have too many false positives.

[2019-04-20 16:26] Shnatsel commented on #1
I've applied the closen logo to the Github organization.

@tarcieri could you apply it to the Twitter account as well? I don't think we have much presence elsewhere yet, so after that's done I'll close the issue.

[2019-04-21 20:17] #30 closed

[2019-04-21 20:19] Shnatsel commented on #25
https://github.com/rust-secure-code/rustsec-projects is the first stab at this, thanks to @DevQps

[2019-04-21 23:25] tarcieri commented on #1
@Shnatsel will do when I have a chance! (or I can share the password to the Twitter account)

[2019-04-22 10:06] DevQps commented on #25
@Shnatsel I think we can close this one now right!

[2019-04-27 18:58] tarcieri commented on #1
I tried to add the logo but presently don't presently have access to the relevant 2FA device.

I think it'd be good if one other person in the WG had access to the account for just such an occasion (@Shnatsel ?)

[2019-04-27 19:34] Shnatsel commented on #1
Works for me.

[2019-04-27 19:39] tarcieri commented on #1
Okay, I'll ping you privately once I have access to the account again

[2019-05-04 12:59] DoumanAsh commented on #29
Why security of user, is not user responsibility?
Default sandboxing seems as excessive measure, instead it should be enabled as option by user.
You should consider that downloading/fetching FFI code is common for C wrapper libraries.
It makes no sense to require special actions from such libraries

[2019-05-04 13:04] tarcieri commented on #29
@DoumanAsh the only thing it'd require is packaging the FFI code in the `-sys` crate itself, rather than invoking arbitrary commands (git, curl, etc) to download arbitrary artifacts at build time.

Alternatively, as discussed above, it could also be put in a separate crate (e.g. `foobar-src`) which is pulled in via a cargo feature of `foobar-sys`. With something like that, `build.rs` could drive a

[2019-05-04 13:04] DianaNites commented on #29
I was looking into FFI wrappers recently and it looks like most if not all of them use git submodules/vendor the third party sources directly if they need to compile it. Possibly behind a feature.

This is much better, easier, and quicker than trying to download them in a build script, which brings it a huge amount of dependencies for hyper and ssl and takes forever to compile.

[2019-05-05 00:06] tarcieri commented on #1
Logo added to Twitter

[2019-05-05 00:06] #1 closed

[2019-05-05 05:19] DoumanAsh commented on #29
@tarcieri FFI code that is in `-sys` crates, still needs to pull dependencies.
Either by downloading it, or fetching from submodule so you cannot get away with `arbitrary commands`

This is not arbitrary, if command is required as part of build step, it it part of build procedure.

I don't think fetching source code requires for each `ffi` create to have additional `-src` crates that would only co

[2019-05-05 12:35] tarcieri commented on #29
When I say "arbitrary commands", I mean ad hoc mechanisms for fetching what are fundamentally build artifacts. It seems there's a plethora of such mechanisms in use: grabbing artifacts from git using the `git2` crate, executing `git` as a subprocess, using `curl-rust` or invoking `wget`, `curl`, etc.

Ultimately all of these mechanisms are just different ways of downloading some code. However, usi

[2019-05-06 20:17] ckaran commented on #29
Going back to what @DoumanAsh said earlier about why we need sandboxing; in addition to there being a risk to the person who is compiling the code, stealthy attacks risk rust's reputation as a better language.  Right now, I can compile arbitrary C code knowing that its macro system is too primitive to do any damage to my system.  I *think* I might be able to do the same with C++.  I'm pretty sure

[2019-05-18 16:15] tarcieri commented on #28
In an attempt to move this forward, I've created a `cargo-repro` GitHub project and associated crate with some initial boilerplate:

- https://github.com/rust-secure-code/cargo-repro/
- https://crates.io/crates/cargo-repro

I've also opened an initial issue to discuss the project's goals and initial design:

- https://github.com/rust-secure-code/cargo-repro/issues/3

I am going to go ahead and clo

[2019-05-18 16:31] tarcieri commented on #29
In an attempt to move this forward, I've created a `cargo-sandbox` GitHub project and associated crate with some initial boilerplate:

- https://github.com/rust-secure-code/cargo-sandbox/
- https://crates.io/crates/cargo-sandbox

I've also opened an initial issue to discuss the project's goals and initial design:

https://github.com/rust-secure-code/cargo-sandbox/issues/3

I am going to go ahead a

[2019-05-18 16:31] #29 closed

[2019-05-20 11:10] Michael-F-Bryan opened #33 "Guidelines on writing `unsafe` code"
While #19 focuses on reducing the amount of `unsafe` code in the ecosystem there are still many places where `unsafe` is required, and it should probably be a goal of this workgroup to make sure we have more "safe" `unsafe` code.

Are there any plans to produce a set of guidelines on writing `unsafe` code, or how to audit a crate containing `unsafe` code, to ensure it is logically sound?

[2019-05-20 11:11] Shnatsel commented on #33
There is actually a separate WG for that: https://github.com/rust-lang/unsafe-code-guidelines

[2019-05-20 11:35] Michael-F-Bryan commented on #33
Thanks @Shnatsel! I'll move this discussion over there.

[2019-05-20 11:35] #33 closed

[2019-06-23 16:22] Shnatsel commented on #23
https://github.com/Eh2406/auto-fuzz-test is an experiment in automatically generating fuzzing harnesses based on function signatures. No docs yet, but it seems to be a functional proof-of-concept.

[2019-07-12 07:31] heavypackets commented on #18
I've yet to get through all of the prior work done so far in detail, but this will be a high priority through the rest of the year for me. I will say, there are a lot parallels here to Notary which I now help maintain. Notary uses TUF metadata in a way similar to what has been proposed, so there is some prior art to reference to also help ramp his effort back up. Are there any current items in pro

[2019-07-12 16:11] tarcieri commented on #18
@heavypackets my linked proposal in the previous post is the last I know of to integrate TUF into crates.io.

It’s something I’ve been meaning to work on when I have some spare cycles.

[2019-08-23 19:30] nico-abram commented on #19
I mentioned here (https://github.com/rust-secure-code/safety-dance/issues/4#issuecomment-523706699) that claxon seems to do something similar (https://github.com/ruuda/claxon/blob/cd82be35f413940ba446d2a19f10d74b86466487/src/metadata.rs#L459-L461)

[2019-08-31 16:23] Shnatsel commented on #19
We're starting a project to address this, initial results are very promising: https://github.com/rust-secure-code/safety-dance

[2019-08-31 16:37] Shnatsel commented on #27
https://github.com/rust-secure-code/safety-dance/issues/21 is working in that direction

[2019-09-01 20:11] Shnatsel commented on #27
First big work item filed: https://github.com/rust-lang/rust-clippy/issues/4483

I expect much more requests to come out of safety-dance effort.

[2019-09-01 21:04] Shnatsel commented on #27
Also just filed https://github.com/rust-lang/rust-clippy/issues/4484

[2019-09-01 21:57] Shnatsel commented on #27
I'll keep any further lint requests I file to https://github.com/rust-secure-code/safety-dance/issues/21 to avoid spamming people.

[2019-09-03 22:42] Shnatsel commented on #10
For the record, this came out of safety-dance: https://github.com/rust-lang/rust/pull/64069

I've also opened an RFC for another missing safe abstraction: https://github.com/rust-lang/rfcs/pull/2714

I also need to turn this into an RFC for Cargo: https://github.com/Shnatsel/rust-audit

[2019-09-06 18:40] Shnatsel commented on #10
Another one came out of a discussion I started on clippy lints: https://github.com/rust-lang/rfcs/pull/2756

[2019-10-06 12:44] HadrienG2 commented on #16
Besides the crates.io website, it would also be nice if the `cargo` CLI could (perhaps optionally) integrate some security warning features, akin to what `cargo-audit` provides today.

As a crate developer, I usually only visit crates.io when looking for new dependencies, and most of the time all my crates.io interactions are through the `cargo` command-line tool. Therefore, if some important info

[2019-10-06 15:08] tarcieri commented on #16
Take a look at [my proposal to add metadata to `cargo yank`](https://internals.rust-lang.org/t/pre-rfc-reviving-security-advisories-in-crates-io-rfc-pr-1752/9017/14?u=bascule) including tying each security-related yank event to a RustSec advisory.

This seems like the path forward to me both for getting information on the crates.io web site as well as having some basic integration into cargo itsel

[2019-12-09 19:57] Shnatsel commented on #14
RFC for Cargo is open: https://github.com/rust-lang/rfcs/pull/2801

It got a lot of constructive feedback, we need to incorporate it and submit it for another round.

[2020-01-17 22:32] WildCryptoFox opened #35 "Use `--cfg reduce_unsafe` to signal preference of safe code over fast code"
This complements #19 when the the safe code can be produced but the performance cost is too high for a set of users willing to pay the safety cost.

Users would opt into this with `RUSTFLAGS+='--cfg reduce_unsafe'`.

---

**Context:** I've been using a custom [`RUSTC_WRAPPER`](https://gist.github.com/WildCryptoFox/352d23c1b92c4d41aeb13204ba880fc3) and plan to promote this shell with Rust and add s

[2020-01-18 00:55] WildCryptoFox commented on #35
Perhaps respect the following hints from crates.

[code]

[2020-01-18 19:21] anderejd opened #36 "Would this WG be interested in taking over the ownership of cargo-geiger?"
Hi!

I'm currently the maintainer of the tool cargo-geiger. It seems like this working group is using the tool or at least recommending it for auditing dependencies. Would you be interested in taking over ownership and maintenance of the tool in question? I feel that my available open source time is not enough to take care of the tool on my own and write proper replies for each issue.

Best regard

[2020-01-19 14:10] tarcieri commented on #36
I think this would be a good home for it, although I'm fairly busy myself.

[2020-01-22 17:30] anderejd commented on #36
That sounds fairly promising :) I've posted a related thread here to hopefully get some discussion going: https://github.com/anderejd/cargo-geiger/issues/87 Please feel free to chime in if you have the time.

[2020-01-25 15:47] anderejd commented on #36
This issue is resolved: https://github.com/rust-secure-code/cargo-geiger/issues/87 🎉

[2020-01-25 15:47] #36 closed

[2020-04-07 11:26] Shnatsel commented on #21
MSAN is now usable on Nightly with `-Z build-std` option, see https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html#memorysanitizer

If C code is being linked into the binary, you will also need to pass some C compiler flags: https://github.com/rust-lang/rust/issues/39610#issuecomment-573391197

MSAN in Rust could really use a tutorial and I fear https://github.com/rust-lan

[2020-04-07 11:56] Shnatsel commented on #17
It'd be great to support any fuzzers that show better results than the current ones in https://github.com/google/fuzzbench

[2020-04-08 00:51] Shnatsel commented on #28
I'm reopening the issue to indicate that this is something we're interested in, and also to better track it. For finer-grained updates see https://github.com/rust-secure-code/cargo-repro/

[2020-05-05 13:05] tarcieri commented on #28
`rebuilderd` is another interesting tool in this space:

https://github.com/kpcyrd/rebuilderd

[2020-05-05 16:21] kpcyrd commented on #28
We found a few rust packages in Arch Linux that are not reproducible for one reason or another (including cargo-audit and rebuilderd itself), do you have any thoughts on collecting them in the org somewhere to allow collaboration on tracking them down across the rust ecosystem (rustc and crates)?

[2020-06-15 05:27] LucianoBestia opened #37 "forbid access to file system to mini crates"
The tree of dependencies can be pretty deep.
It is nice to know that some crates have no unsafe code with `#![forbid(unsafe_code)]`.
But should be nice also to know that they don't have access to files.
Maybe something like `#![forbid(file_access)]`.
If the crate needs read or write to files (like logging) than the parent crate should provide that.
So the parent crate has control what folders and

[2020-06-15 09:14] burdges commented on #37
Isn't network access as bad or worse?  I'd rephrase this:  Can we `#![forbid(std)]` so that builds fail if std gets linked?

I'm dubious that security represents the best argument there, but std being quietly included create complexity throughout the ecosystem, so you'll receive enormous support if you find a technique that serves both down and up stream crate authors, as well as security interest

[2020-06-15 09:20] burdges opened #38 "Item shadowing"
Are we concerned about item shadowing?  Do we want lints that forbid shadowing?

At a technical level, item shadowing creates might not create so many new threats per se, but they simplify innocent looking bug doors.

It remains unclear to me if https://github.com/rust-lang/rfcs/pull/2845 makes the item shadowing situation better or worse.

[2020-06-15 09:32] burdges commented on #35
I think `reduce_unsafe` might mean wildly varying things to different crates, but your cargo wrapper and `unsafe_policy` idea give the right direction.

You might permit the unsafe code within a specific version or with a specific digital signature, but accept future crate versions that left alone the modules satisfying that restriction.  I suppose micro crates like arrayref that release new versi

[2020-06-15 09:35] LucianoBestia commented on #37
ok, also network access could be harmful:  #![forbid(network_access)]
I know that big crates need all that stuff. So we must be super careful who to trust.
But mini crates mostly don't need that. And could be trusted easily if the compiler can asserts they cannot be harmful (forbid unsafe, file read, file write, network access, build.rs, FFI, asm! ).

Yes, the choice to depend quietly on the stand

[2020-06-15 12:53] burdges commented on #37
You'd forbid specific dependencies from invoking specific other dependencies, like std, or their features.

[2020-06-15 13:08] tarcieri commented on #37
Here was my take on this...

https://internals.rust-lang.org/t/crate-capability-lists/8933/2?u=bascule

## Unsafe Features

Synopsis: Extend the existing idea of cargo features with a special notion of "unsafe features" which can be used to whitelist usage of `unsafe` in dependencies (and their transitive dependencies).

### Goals

- Opt-in feature which has no effect on code that doesn't make use

[2020-06-15 13:32] LucianoBestia commented on #37
That sounds really good to me.
I would like to emphasize that the word "unsafe" in Rust has this exclusive meaning for memory safety.  That is not how the word "unsafe" is understood by normal people.
We should find another word to be unambiguous like: "nothing is really stopping this mini crate to do harm"
I would add "file access" and "network access",  as the next in line of potentially harmful

[2020-06-15 13:35] tarcieri commented on #37
I think you're missing the point: this uses `unsafe`, in the struct Rust memory safety sense, as invoked using the `unsafe` keyword, as the modeling dimension for such features.

Without `unsafe`, aside from a handful of other escape hatches like `#[no_mangle]`, a process can't make system calls and therefore can't do anything that involves accessing files, the network, the process environment, et

[2020-06-15 15:41] burdges commented on #37
You cannot allocate memory or build data structures without unsafe either though.  In this issue, I'd assume the goal was to permit `unsafe` where crates only use it for memory management, but forbiding io.  It's true std being dragged into builds has really plagued the ecosystem, so if you can forbid it nicely enough then it'll help various things.

[2020-06-15 15:47] tarcieri commented on #37
The idea of "unsafe features" is to categorically tag usages of `unsafe` under a namespace of "unsafe features", so that you can control access to any subsystem, rather than building something specialized to a particular function.

[2020-06-15 15:54] LucianoBestia commented on #37
yes, deep down file/network access is also unsafe.
Probably I wanted to express there is different levels of unsafe:
- There is the "pure unsafe" that can do literally anything. No-one can stop it.
- And there is "file access" that can do only file access. It is unsafe, but not so broad and unpredictable.
I think I am starting to categorize unsafe into specific categories that are specialized for

[2020-06-15 16:00] LucianoBestia commented on #37
I looked at your text "Unsafe Features"again with other eyes now.
Instead of "launch missile" I see "read a file in a dangerous folder".
And all seems logic. You can forbid or allow it. Consciously opt-in.
I like it.

[2020-06-15 16:11] tarcieri commented on #37
Not quite. Perhaps I need to do a better job explaining it.

The idea is if you can forbid all *transitive* uses of unsafe from a Rust program (i.e. when one crate includes another crate in its Cargo.toml and wants to restrict the authority of its dependencies), with a scant handful of exceptions (like `#[no_mangle]`) you eliminate all ambient authority: it can't access the disk, the network, the

[2020-06-15 16:19] LucianoBestia commented on #37
I would understand it sooner if instead of fire_missile you have described how to limit a file access.
Not generic for every file, just for one single dangerous folder. That folder must be known and fixed in the code. So I can allow it on forbid it to read there with "unsafe features".
Let's say the crypto wallet, that is a modern topic now.
But now I understand also the fire missile example.

[2020-06-15 17:29] tarcieri commented on #37
That's a bit different idea. To pull that off you'd need some sort of OCap notion for paths.

The "unsafe features" proposal would be more like inside of `std::fs`, you'd label types which perform unsafe filesystem accesses:

[code]

Then in the `Cargo.toml` of a crate which wants to bless a dependency to access the filesystem, something like:

[code]

[2020-06-15 18:49] LucianoBestia commented on #37
I build a little demonstrative example for "unsafe features".
@tarcieri, Can you give it a look ?
<https://github.com/LucianoBestia/unsafe_features_example>

[2020-06-15 22:11] Shnatsel commented on #38
Item shadowing is a double-edged sword. Intentional use for removing variables you don't want to use accidentally is great. On the other hand, accidental shadowing may cause issues.

I don't recall any RustSec advisories for issues caused by shadowing, for what it's worth. Neither do I recall any in the [fuzzing trophy case](https://github.com/rust-fuzz/trophy-case), but I can't remember all of th

[2020-06-16 01:39] kpcyrd commented on #38
I usually use shadowing when I get something like `Result<Option<T>>` and I actually want a `T`. There used to be an [underhanded-rust contest](https://github.com/rust-community/underhanded-submissions) going on, maybe it's time to do another round. :)

[2020-06-16 02:13] burdges commented on #38
I'd think such attacks live in NPM land still, but we've so much large crypto-currency software being written in rust that bug door attacks using shadowing sound plausible eventually.

Any?  We do not care about local variable shadowing, only cross-crate method shadowing.  We can close this issue if clippy can do methods only.  We've some cargo tool to run clippy on dependencies?

[2020-06-17 21:18] tarcieri commented on #37
@LucianoBestia sorry, haven't had time yet but I'll take a look soon

[2020-06-18 03:26] LucianoBestia commented on #37
One idea is to make mandatory one parameter for unsafe block. That parameter is the feature.
[code]
The same feature could be used broadly in the same module, but not outside.

[2020-06-18 03:32] LucianoBestia commented on #37
But one of the problems I hear is macros. They can have unsafe and is impossible to expand them in 100% working code. I looked at Geiger.

[2020-06-23 08:19] expnkx opened #39 "The entire goals are completely impossible. The logic behind it is completely false."
Most tasks shouldn't require dangerous features such as unsafe. This includes FFI.

It is too vague. Just like the lie in C++ "exceptions are only used for exceptional circumstances."

"Mistakes in security code should be easily caught by machines or, failing that, humans aided by machines.
It should be clear to programmers on how to perform security-sensitive tasks."

That defeats the purpose of

[2020-06-23 12:11] #39 closed

[2020-06-23 12:16] Shnatsel commented on #39
Yes, this should be clarified. This is mostly focused on facilitation of tools such as https://github.com/dtolnay/cxx as well as safe abstractions such as https://github.com/Lokathor/bytemuck so that people could use a single audited implementation instead of rolling their own unsafe code every time.

[2020-06-23 12:32] expnkx commented on #39
There is a reason why people reinvent the wheel. You can even argue Rust language itself is a wheel reinvention.

https://www.linkedin.com/pulse/c-iostreams-considered-harmful-henrique-bucher

14 - Why replace standard library functions?
Often you will see game programmers avoid using functions from the C and C++ standard library and instead use re-implemented versions. The reasons for this depend

[2020-06-23 19:45] Shnatsel commented on #21
I've opened https://github.com/rust-fuzz/cargo-fuzz/pull/233 to make `cargo-fuzz` pass the required flags behind the scenes and make Memory Sanitizer "just work".

[2020-06-24 07:51] tarcieri commented on #39
@expnkx this is a burnout inducing thread for me, and I consider it to be in violation of this project's Code of Conduct.

[2020-12-17 19:37] alex commented on #21
Idea that I don't know why it just occurred to me: Make it a build time error to link a vanilla libstd with an MSAN project. This should dramatically reduce the volume of false positives people hit (and then file bugs with, to the frustration and confusion of maintainers).

I cannot imagine any circumstance where vanilla libstd linked to an MSAN project would be desirable or useful.

[2021-01-25 17:31] alex commented on #27
Another one, that came out of seeing rustsec reports: https://github.com/rust-lang/rust-clippy/issues/6638

[2021-02-04 17:21] Nemo157 commented on #16
Another UI that I feel would make sense to integrate these messages is docs.rs, it seems much more likely for users of affected crates to be browsing the docs on docs.rs than visiting the crates.io page for it; so I think it would have the potential for a high impact.

Having extra data attached to the `yank` event would be a good start, but it doesn't really help cases where the crate has been ab

[2021-08-20 05:55] #37 closed

[2021-11-03 22:05] pinkforest commented on #19
I am working on geiger.rs (yeah I bought the domain...) that geigers everything in crates.io

I also created a proposal to add hookpoints for metadata to link unsafe related blocks to Issues that can be checked against whether these are Closed status which could indicate someone has validated them

It also allows better organisation and visibility at geiger.rs I can track the blobs and see if the

[2021-11-04 16:37] Shnatsel commented on #19
That is very impressive, but also going to end up quite expensive to run, because there is a lot of code on crates.io and you will need to compile all of it.

Also, there are security concerns because Cargo can run arbitrary code (e.g. proc macros, build scripts) during compilation.

Something like https://github.com/avadacatavra/unsafe-unicorn would be a cheaper but less precise alternative. This

[2022-01-05 08:26] pinkforest opened #42 "Community driven crates registry reflector"
**Just a wild idea**

Would there be an interest of community _"hardened"_ or _"moderated"_ crates.io [registeries] reflector source that essentially filters to cargo automatically by-community-input on crates that are available to cargo via it's index ?

Essentially this would combine several tools - we could use registry hostname identifier which set of "exclusions" are to be used via the reflec

[2022-01-05 09:15] pinkforest opened #43 "Status/Report/Analytics Opt-In Automation"
**Why? - or - The Target Problem(s) Statement**

1. Knowing what the binary *was* compiled with (transitive dependencies) in the past is hard for both the maintainer as well as the user in order to determine whether the transient dependencies are, is hard unless one happened to use auditable - esp crate maintainer.
2. Everyone keeps using separately computing power to run various cargo commands e.

[2022-01-06 11:03] pinkforest commented on #42
@Shnatsel - would love your feedback on this :unicorn:

[2022-01-06 11:12] pinkforest opened #44 "The Definition Of Maintained and Deprecated"
EDIT: After @tarcieri comment I added "Deprecated"

**I've been thinking of formal definitions**

 1) Maintained (_currently exists as Unmaintained_) and
 2) Deprecated (_currently does not exist_)

As well as the implications and potential future implications of those two

Most of the open items in RustSec are maintenance related and I think they provide distraction.

**Proposal**

I propose to a

[2022-01-06 11:32] pinkforest opened #45 "Crate Owners Security Manual"
I was wondering what else we could do as a WG to help crate maintainers to keep their crates secure.

This was in combination with some governance stuff I had to sort out at cargo-geiger.

And I was thinking maybe documentation / best practice or "guidelines" could enable the maintainers to do the right things (tm)

It does need a catchy marketable name too! And it should be pleasant, fun and enjo

[2022-01-06 15:29] tarcieri commented on #44
The process is currently an informal one, where someone nominates a crate as "unmaintained", and then one or more members of the WG attempt to reach out to the owner of the crate.

If the owner agrees the crate is unmaintained, or we don't receive a response for a prolonged period of time (months), we will merge an unmaintained crate advisory.

An important thing here is we're trying to keep the f

[2022-01-13 14:46] tarcieri commented on #45
It'd be good to have some best practices documentation for this.

I wonder if there's a place we could upstream this to, like the Rust Book. But perhaps we could start with a Markdown file in this repo.

[2022-01-21 19:26] carols10cents commented on #45
I don't think the main book is a great place for this content, as the target audience for TRPL is anyone wanting to write any code in Rust, while this content's target audience is anyone who wants to release a crate on crates.io for general usage, a much smaller audience.

It sounds like this would be similar to https://github.com/rust-lang/api-guidelines ; I'm not sure where that is linked from c

[2022-07-03 23:14] 8573 commented on #45
Some existing (but not necessarily complete) books that seem related (but not quite the same) are
* https://github.com/ANSSI-FR/rust-guide
* https://github.com/tnballo/high-assurance-rust

[2022-07-22 23:09] pinkforest commented on #44
I edited to propose Deprecated status which would be more of a gentle nudge to switch off from the crate in near future.

[2022-08-06 17:44] pinkforest opened #46 "actions-rs/audit-check GH Action"
Folk are using this and seems the maintainer @svartalf seems MIA

There seems to be at least one fork already by @djmitche / GothernburgBitFactory:
https://github.com/actions-rs/audit-check/pull/221#issuecomment-1193138925
https://github.com/GothenburgBitFactory/taskwarrior/issues/2830#issuecomment-1179835614

Here:
https://github.com/GothenburgBitFactory/audit-check
Addressing:
https://github.com

[2022-08-08 12:01] tarcieri commented on #46
This might be a better question to post at https://github.com/RustSec as it's specifically RustSec-related.

I think it might make sense to fork the action under that org so @RustSec can manage maintenance.

[2022-08-08 12:22] tarcieri commented on #46
Somewhat related issue here: https://github.com/rustsec/rustsec/issues/303

[2022-08-08 12:29] pinkforest commented on #46
I asked @Shnatsel about it yesterday and was supportive as well to under rustsec org

[2022-10-19 01:32] Shnatsel commented on #14
Implementation as a Cargo subcommand: https://github.com/rust-secure-code/cargo-auditable

[2022-11-08 15:30] sam0x17 opened #47 "Attribute-macro-based auditing annotations"
The Polkadot/Substrate ecosystem is looking for a solution that will allow us to annotate pallets (rust modules) and possibly other portions of our codebase with an attribute macro with syntax similar to `#[audited(E0C5E21EB7AD91AA)]` where the contents of `audited()` are a hash code of the syn-parsed AST nodes that make up the pallet (minus some superfluous nodes, such as doc/comment nodes).

Rig

[2022-11-08 15:45] sam0x17 commented on #47
I'd also be happy/interested to develop this idea as a crate within rust-secure-code that we could then use use in substrate

[2022-11-08 16:46] burdges commented on #47
In part, we're asking:  What does the community want in the way of audit notes?

We know there is wider interest in audit notes for say unsafe blocks, but that's a somewhat clearer problem, thanks to the rustbelt project.